// Here you can add other styles
.main .container-fluid {
    margin-top: 30px;
}

.p-add {
    padding: 1.14rem !important;
}

.p-addg {
    padding: 0.57rem !important;
}

.accounts > .card-body {
    padding-bottom: 0
}

.col-0 {
    margin-left: 15px
}

.modal-body > .form-group {
    margin-bottom: 0;
}

.text-owerflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

button.close {
    margin-top: -12px;
    margin-right: -7px;
}

.switch.switch-text {
    margin-bottom: -10px;
}