.faint {
    color: #999;
}



.btn:hover {
    outline: 0 !important;
}

.btn:focus {
    outline: 0 !important;
}

.btn:active {
    outline: 0 !important;
}

.btn-download {
    height: 50px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.7em;
}

.btn-flip-extend,
.btn-flip:hover,
.btn-flip:focus {
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

.btn-flip {
    opacity: 0.8;
    color: #666666;
    background-color: transparent;
}

.btn-flip i {
    font-size: 16px;
}

.card-holder {
    margin-top: 50px;
}

.card-container {
    -moz-perspective: 1600px;
    -webkit-perspective: 1600px;
    perspective: 1600px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    height: 420px;
}

.card-container:not(.manual-flip):hover .front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-container:not(.manual-flip):hover .back {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card-container.hover.manual-flip .front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-container.hover.manual-flip .back {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.cardf {
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    background: none repeat scroll 0 0 #fff;
    color: #444444;
}

.cardf .cover {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
    height: 105px;
    overflow: hidden;
    z-index: -2;
}

.cardf .cover img {
    width: 100%;
}

.cardf .branded {
    position: relative;
    background: #fff;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    width: 120px;
    text-align: center;
}

.cardf .content {
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 20px 5px;
}

.cardf .content .main {
    min-height: 140px;
}

.cardf .use-for {
    font-size: 26px;
    text-align: center;
}

.cardf h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.cardf .footer {
    color: #999;
    padding: 10px 0 0;
    text-align: center;
}

.cardf .footer .btn-simple {
    margin-top: -6px;
}

.cardf .header {
    padding: 15px 20px 10px 20px;
}

.cardf .back .content .main {
    height: 215px;
}

.front {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 420px;
    top: 0;
    left: 0;
    z-index: 2;
}

.back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: auto;
}

.back .btn-simple {
    position: absolute;
    left: 0;
    bottom: 4px;
}

.qr canvas {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0 auto;
}

.title {
    color: #506a85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}

.back.util {
    width: 200%;
    background-color: #1e1e1e;
}

.back.hero {
    width: 200%;
    left: -100%;
    background-color: #1e1e1e;
}

.scripts-section {
    background: url(../pic/scripts.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

body {
    background: url(../pic/scripts.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.cardf .branded.seccond {
    background: url(../pic/topcardlogo.png) center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.cardf .branded.first {
    background: url(../pic/topcardlogo2.png) center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.tablecard {
    display: table;
    height: 100%;
}

.cellcard {
    margin-top: 85px;
}

@media (max-width:768px) {
    .tablecard {
        display: block;
        height: 100%;
    }
    .cellcard {
        display: block;
    }
}

.use-for.op_scripts {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-back {
    margin-bottom: 10px;
}

.cards {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.cardfolder {
    margin: 15px;
    width: calc((100% / 4) - 30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
    .cardfolder {
        width: calc((100% / 3) - 30px);
    }
}

@media screen and (max-width: 767px) {
    .cardfolder {
        width: calc((100% / 2) - 30px);
    }
}

@media screen and (max-width: 530px) {
    .cardfolder {
        width: 100%;
    }
}

.cardfolder:hover .card__inner {
    background-color: #1abc9c;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.card__inner {
    width: 100%;
    padding: 10px;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.card__inner:after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card__inner .fa {
    width: 100%;
}

.card__expander {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #333a45;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #eceef1;
    font-size: 1.5em;
}

.card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: -5px;
    right: 0px;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    padding: 10px;
}

.card__expander .fa:hover {
    opacity: 0.9;
}

.cardfolder.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
}

.cardfolder.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}

.cardfolder.is-expanded .card__inner {
    background-color: #1abc9c;
}

.cardfolder.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
}

.cardfolder.is-expanded .card__inner .fa:before {
    content: "\f115";
}

.cardfolder.is-expanded .card__expander {

    overflow: visible;
    margin-top: 30px;
    opacity: 1;
}

.cardfolder.is-expanded:hover .card__inner {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cardfolder.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
}

.cardfolder.is-inactive:hover .card__inner {
    background-color: #949fb0;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media screen and (min-width: 992px) {
    .cardfolder:nth-of-type(4n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .cardfolder:nth-of-type(4n+3) .card__expander {
        margin-left: calc(-200% - 60px);
    }
    .cardfolder:nth-of-type(4n+4) .card__expander {
        margin-left: calc(-300% - 90px);
    }
    .cardfolder:nth-of-type(4n+5) {
        clear: left;
    }
    .card__expander {
        width: calc(400% + 90px);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .cardfolder:nth-of-type(3n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .cardfolder:nth-of-type(3n+3) .card__expander {
        margin-left: calc(-200% - 60px);
    }
    .cardfolder:nth-of-type(3n+4) {
        clear: left;
    }
    .card__expander {
        width: calc(300% + 60px);
    }
}

@media screen and (max-width: 768px) and (min-width: 530px) {
    .cardfolder:nth-of-type(2n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .cardfolder:nth-of-type(2n+3) .card__expander {
        clear: left;
    }
    .card__expander {
        width: calc(200% + 30px);
    }
}

@media screen and (max-width: 530px) {
    .card__expander {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .back.hero {
        width: 100%;
        left: 0;
        top: -500px;
    }
    .back.util {
        width: 100%;
    }
}

.back_Abaddon {
    background: url("../pic/heroes/Abaddon_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Alchemist {
    background: url("../pic/heroes/Alchemist_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Ancient_Apparition {
    background: url("../pic/heroes/Ancient_Apparition_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Anti-Mage {
    background: url("../pic/heroes/Anti-Mage_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Arc_Warden {
    background: url("../pic/heroes/Arc_Warden_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Axe {
    background: url("../pic/heroes/Axe_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Bane {
    background: url("../pic/heroes/Bane_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Batrider {
    background: url("../pic/heroes/Batrider_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Beastmaster {
    background: url("../pic/heroes/Beastmaster_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Bloodseeker {
    background: url("../pic/heroes/Bloodseeker_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Bounty_Hunter {
    background: url("../pic/heroes/Bounty_Hunter_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Brewmaster {
    background: url("../pic/heroes/Brewmaster_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Bristleback {
    background: url("../pic/heroes/Bristleback_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Broodmother {
    background: url("../pic/heroes/Broodmother_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Centaur_Warrunner {
    background: url("../pic/heroes/Centaur_Warrunner_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Chaos_Knight {
    background: url("../pic/heroes/Chaos_Knight_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Chen {
    background: url("../pic/heroes/Chen_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Clinkz {
    background: url("../pic/heroes/Clinkz_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Clockwerk {
    background: url("../pic/heroes/Clockwerk_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Crystal_Maiden {
    background: url("../pic/heroes/Crystal_Maiden_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Dark_Seer {
    background: url("../pic/heroes/Dark_Seer_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Dazzle {
    background: url("../pic/heroes/Dazzle_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Death_Prophet {
    background: url("../pic/heroes/Death_Prophet_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Disruptor {
    background: url("../pic/heroes/Disruptor_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Doom {
    background: url("../pic/heroes/Doom_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Dragon_Knight {
    background: url("../pic/heroes/Dragon_Knight_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Drow_Ranger {
    background: url("../pic/heroes/Drow_Ranger_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Earth_Spirit {
    background: url("../pic/heroes/Earth_Spirit_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Earthshaker {
    background: url("../pic/heroes/Earthshaker_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Elder_Titan {
    background: url("../pic/heroes/Elder_Titan_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Ember_Spirit {
    background: url("../pic/heroes/Ember_Spirit_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Enchantress {
    background: url("../pic/heroes/Enchantress_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Enigma {
    background: url("../pic/heroes/Enigma_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Faceless_Void {
    background: url("../pic/heroes/Faceless_Void_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Gyrocopter {
    background: url("../pic/heroes/Gyrocopter_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Huskar {
    background: url("../pic/heroes/Huskar_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Invoker {
    background: url("../pic/heroes/Invoker_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Io {
    background: url("../pic/heroes/Io_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Jakiro {
    background: url("../pic/heroes/Jakiro_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Juggernaut {
    background: url("../pic/heroes/Juggernaut_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Keeper_of_the_Light {
    background: url("../pic/heroes/Keeper_of_the_Light_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Kunkka {
    background: url("../pic/heroes/Kunkka_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Legion_Commander {
    background: url("../pic/heroes/Legion_Commander_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Leshrac {
    background: url("../pic/heroes/Leshrac_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Lich {
    background: url("../pic/heroes/Lich_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Lifestealer {
    background: url("../pic/heroes/Lifestealer_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Lina {
    background: url("../pic/heroes/Lina_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Lion {
    background: url("../pic/heroes/Lion_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Lone_Druid {
    background: url("../pic/heroes/Lone_Druid_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Luna {
    background: url("../pic/heroes/Luna_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Lycan {
    background: url("../pic/heroes/Lycan_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Magnus {
    background: url("../pic/heroes/Magnus_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Medusa {
    background: url("../pic/heroes/Medusa_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Meepo {
    background: url("../pic/heroes/Meepo_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Mirana {
    background: url("../pic/heroes/Mirana_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Monkey_King {
    background: url("../pic/heroes/Monkey_King_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Morphling {
    background: url("../pic/heroes/Morphling_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Naga_Siren {
    background: url("../pic/heroes/Naga_Siren_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Natures_Prophet {
    background: url("../pic/heroes/Natures_Prophet_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Necrophos {
    background: url("../pic/heroes/Necrophos_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Night_Stalker {
    background: url("../pic/heroes/Night_Stalker_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Nyx_Assassin {
    background: url("../pic/heroes/Nyx_Assassin_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Ogre_Magi {
    background: url("../pic/heroes/Ogre_Magi_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Omniknight {
    background: url("../pic/heroes/Omniknight_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Oracle {
    background: url("../pic/heroes/Oracle_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Outworld_Devourer {
    background: url("../pic/heroes/Outworld_Devourer_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Phantom_Assassin {
    background: url("../pic/heroes/Phantom_Assassin_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Phantom_Lancer {
    background: url("../pic/heroes/Phantom_Lancer_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Phoenix {
    background: url("../pic/heroes/Phoenix_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Puck {
    background: url("../pic/heroes/Puck_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Pudge {
    background: url("../pic/heroes/Pudge_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Pugna {
    background: url("../pic/heroes/Pugna_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Queen_of_Pain {
    background: url("../pic/heroes/Queen_of_Pain_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Razor {
    background: url("../pic/heroes/Razor_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Riki {
    background: url("../pic/heroes/Riki_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Rubick {
    background: url("../pic/heroes/Rubick_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Sand_King {
    background: url("../pic/heroes/Sand_King_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Shadow_Demon {
    background: url("../pic/heroes/Shadow_Demon_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Shadow_Fiend {
    background: url("../pic/heroes/Shadow_Fiend_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Shadow_Shaman {
    background: url("../pic/heroes/Shadow_Shaman_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Silencer {
    background: url("../pic/heroes/Silencer_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Skywrath_Mage {
    background: url("../pic/heroes/Skywrath_Mage_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Slardar {
    background: url("../pic/heroes/Slardar_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Slark {
    background: url("../pic/heroes/Slark_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Sniper {
    background: url("../pic/heroes/Sniper_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Spectre {
    background: url("../pic/heroes/Spectre_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Spirit_Breaker {
    background: url("../pic/heroes/Spirit_Breaker_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Storm_Spirit {
    background: url("../pic/heroes/Storm_Spirit_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Sven {
    background: url("../pic/heroes/Sven_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Techies {
    background: url("../pic/heroes/Techies_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Templar_Assassin {
    background: url("../pic/heroes/Templar_Assassin_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Terrorblade {
    background: url("../pic/heroes/Terrorblade_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Tidehunter {
    background: url("../pic/heroes/Tidehunter_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Timbersaw {
    background: url("../pic/heroes/Timbersaw_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Tinker {
    background: url("../pic/heroes/Tinker_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Tiny {
    background: url("../pic/heroes/Tiny_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Treant_Protector {
    background: url("../pic/heroes/Treant_Protector_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Troll_Warlord {
    background: url("../pic/heroes/Troll_Warlord_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Tusk {
    background: url("../pic/heroes/Tusk_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Underlord {
    background: url("../pic/heroes/Underlord_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Undying {
    background: url("../pic/heroes/Undying_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Ursa {
    background: url("../pic/heroes/Ursa_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Vengeful_Spirit {
    background: url("../pic/heroes/Vengeful_Spirit_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Venomancer {
    background: url("../pic/heroes/Venomancer_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Viper {
    background: url("../pic/heroes/Viper_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Visage {
    background: url("../pic/heroes/Visage_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Warlock {
    background: url("../pic/heroes/Warlock_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Weaver {
    background: url("../pic/heroes/Weaver_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Windranger {
    background: url("../pic/heroes/Windranger_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Winter_Wyvern {
    background: url("../pic/heroes/Winter_Wyvern_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Witch_Doctor {
    background: url("../pic/heroes/Witch_Doctor_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Wraith_King {
    background: url("../pic/heroes/Wraith_King_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.back_Zeus {
    background: url("../pic/heroes/Zeus_icon.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.add_hero_script {
    display: none;
    background: #efefef;
    padding: 2em 1em 1em 1em;
}

.triangle {
    position: relative;
    height: 0;
    width: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-top: 1.5em solid #B2DCE5;
    margin: 0 auto -1.75em auto;
    top: -.25em;
    z-index: 20;
}

.circle-button {
    position: absolute;
    top: 1em;
    right: 1.5em;
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    color: #fff;
    background: rgba(74, 148, 197, 0.7);
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
    outline: none;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.circle-button .close {
    -webkit-transition: -webkit-transform 400ms ease;
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
    opacity: .6;
}

.circle-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
}

.closeRotate {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.haker {
    color: black;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    height: 46px;
    background: rgba(0, 0, 0, 0.16);
    background-clip: padding-box;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    padding: 10px 16px;
    color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(chosen-sprite.png) no-repeat 0 15px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -16px 15 px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    height: 46px;
    background: rgba(0, 0, 0, 0.16);
    padding: 10px 16px;
    color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -16px 15px;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(chosen-sprite.png) no-repeat 0 15px;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    height: 46px;
    background: rgba(0, 0, 0, 0.16);
    background-clip: padding-box;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    padding: 10px 16px;
    color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.card-container .item {
    position: relative;
    text-transform: none;
    text-align: left;
}
.card-container .item:first-child {
    margin-top: 0px;
}

.card-container .item a {
    display: block;
border-top: 1px solid #292929;
padding: 15px 10px 6px;
}

.card-container .item:first-child a {
    display: block;
border-top: 0;
padding: 15px 10px 6px;
}

.card-container .item a::before {
    content: "";
    display: table;
}

.card-container .item .content {
    position: relative;
    margin: 0 0 10px;
}

.card-container .item .img {
    float: left;
    margin: 0 2% 0 0;
    max-width: 160px;
    width: 30%;
    border: 0;
}

.card-container .item .inline {
    float: left;
    width: 67%;
}

.card-container .item .title {
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    margin: 0 0 3px;
    text-align: left;
}

.card-container .item .text {
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
    color: #989899;
}

.card-container .item .info {
    font-size: 12px;
    line-height: 1;
    color: #767779;
    margin: 5px 0 0;
}

.clb {
    clear: both;
    height: 0;
    line-height: 0;
}

.card-container .item a::before {
    clear: both;
    *zoom: 1;
}

.card__expander {
    display: block !important;
}

.name_hero {
    background-color: rgba(0, 0, 0, 0.4);
padding-left: 5px;
padding-right: 5px;
text-transform: none;
}

.modal {
    text-transform: none;
}
.modal-body {
    font-size: 15px;
}

.card__expander hr {
    border-top: 1px solid #454545;
}
.card__expander code {
    background-color: #454545;
}

.card__expander .modal-body {
    color: #d4d4d4;
}

.card__expander ul {
    margin-left: 3em;
margin-right: 0;
}
.card__expander ul li {
    list-style: disc outside;
}

.card__expander ul ul, .card__expander ul ol,
.card__expander ul dl, .card__expander ol ul,
.card__expander ol ol, .card__expander ol dl,
.card__expander dl ul, .card__expander dl ol, .card__expander dl dl {
    margin-top: 0;
margin-bottom: 0;
}

.card__expander ol ul li, .card__expander ul ul li {
    list-style-type: circle;
}

.util_back {
    background-color: currentColor;
margin-right: 5%;
margin-left: 5%;
}

.btn.btn-default.btn-back {
    background-color: #444;
    border-color: #666060;
    color: #dad5da;
}

.but_url {
    border: 0px;
  background: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
color: #989899;
position: relative;
top: -40;
right: 150;
}

.but_url:focus, .but_url:hover {
    text-decoration: underline;
}

.card_control {
    width: 60px;
float: right;
padding-left: 10px;
}

.chosen-single {
    background: rgba(237, 231, 231, 0.6) !important;
}

.modal-body .form-control {
    background: rgba(237, 231, 231, 0.6);
}
.edit {
    padding: 0 !important;
border: 0 !important;
display: inline;
border: 0px;
background: none;
text-decoration: none;
cursor: pointer;
font-size: 12px;
color: #989899;
position: relative;
top: -57;
right: 240;
}

.edit:focus, .edit:hover {
    color: #989899;
    text-decoration: underline;
}

.circle-button.circle-hero {
    position: relative;
    top:0;
    right: 0;
width: 70px;
height: 70px;
font-size: 1.5em;
color: #fff;
background: rgba(74, 148, 197, 0.7);
border: none;
border-radius: 50%;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
outline: none;
cursor: pointer;
-webkit-transition: all 300ms ease;
transition: all 300ms ease;
margin-bottom: -70px;
z-index: 999;
}

.modal-body {
    color: #d4d4d4;
}

.modal-header {
    color: #fff;
}

.modal-body hr {
    border-top: 1px solid #454545;
}
code {
    background-color: #454545;
}

.modal-body {
    color: #d4d4d4;
}
ul {
    margin-left: 3em;
margin-right: 0;
}
ul li {
    list-style: disc outside;
}

.modal-body ul ul, .modal-body ul ol,
.modal-body ul dl, .modal-body ol ul,
.modal-body ol ol, .modal-body ol dl,
.modal-body dl ul, .modal-body dl ol, .modal-body dl dl {
    margin-top: 0;
margin-bottom: 0;
}

.modal-body ol ul li, .modal-body ul ul li {
    list-style-type: circle;
}

.modal-body img {
    max-width: 700px;
}

.edit-info {
    color: #878787;
font-size: 13px;
padding-right: 15px;
}

.bc_green {
    background-color: green;
}

.bc_orange {
    background-color: orange;
}

.bc_red {
    background-color: red;
}

.butfaq {
    top: 0;
right: 40;
}

.editfuq {
    top: -17;
right: 140;
}