/* Reset CSS
 * --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}


/* Custom CSS
 * --------------------------------------- */

body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

p {
    font-size: 2em;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}


/*#menu li {
    display: inline-block;
    margin: 10px 4px 0px 4px;
    color: #fff;
    background: rgba(46, 50, 59, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background-color: rgba(73, 147, 197, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #fff;
}

#menu li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #4894c5;
    border-radius: 10px;
}

#menu li a,
#menu li.active a {
    padding: 9px 15px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 70;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    margin-right: 20px;
}*/

.twitter-share-button {
    position: fixed;
    z-index: 99;
    right: 149px;
    top: 9px;
}

#download {
    margin: 10px 0 0 0;
    padding: 15px 10px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from( #5bc0de), to( #2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#download a {
    text-decoration: none;
    color: #fff;
}

#download:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #2F96B4;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

#infoMenu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 8px 0 8px 0;
}

#infoMenu ul {
    padding: 0 40px;
}

#infoMenu li a {
    display: block;
    margin: 0 22px 0 0;
    color: #333;
}

#infoMenu li a:hover {
    text-decoration: underline;
}

#infoMenu li {
    display: inline-block;
    position: relative;
}

#examplesList {
    display: none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    position: absolute;
    bottom: 29px;
    right: 0;
    width: 638px;
    text-align: left;
}

#examplesList ul {
    padding: 0;
}

#examplesList ul li {
    display: block;
    margin: 5px 0;
}

#examplesList ul li a {
    color: #BDBDBD;
    margin: 0;
}

#examplesList ul li a:hover {
    color: #f2f2f2;
}

#examplesList .column {
    float: left;
    margin: 0 20px 0 0;
}

#examplesList h3 {
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}


/* Demos Menu
 * --------------------------------------- */

#demosMenu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-section {
    background: url(../pic/p_03.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.home-section::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.queen {
    background: url(../pic/queen.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.queen::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.vk {
    background: url(../pic/set_vk.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.you {
    background: url(../pic/you.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.content-wrapper {
    display: table;
    position: relative;
    z-index: 2;
    height: 100%;
    margin: 0 auto;
}

.content-wrapper>div.valign {
    display: table-cell;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.home-title {
    margin-bottom: 50px;
}

.logo {
    margin-bottom: 60px;
}

.home-title h1 {
    font-size: 46px;
    line-height: 54px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
}

.home-title h1 span.red {
    color: rgb(73, 147, 197);
}

.home-title h1 span {
    font-weight: 900;
}

.section-title h2 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(73, 147, 197, 0.9);
}

.nav_list {
    margin: 10px;
    width: 100%;
    list-style: none;
}

.nav_list li {
    position: relative;
}

.nav_list li a {
    padding: 2px 10px 2px 20px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #8E99B3;
    text-decoration: none;
    background: #1E212B;
    border-bottom: 2px solid #171819;
}

.nav_list li span {
    width: 0;
    height: 0;
    position: absolute;
    top: 11px;
    left: 6px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #8e99b3;
}

.nav_list li.active span {
    border-top: 6px solid #8e99b3;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.nav_list ul {
    margin: 0;
    display: none;
}

.nav_list ul li {
    position: static;
}

.nav_list ul a {
    padding-left: 20px;
    font-size: 12px;
    color: #D5D8DD;
    background: #2E323B;
}

a:focus {
    outline: none;
}

.section-title {
    margin: 100px 0px 50px 30px;
}

.container {
    color: black;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #2e323b;
}

p.bg-success {
    background-color: #2e323b;
    padding: 15px 25px;
    font-size: 1.5em;
    color: white;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #2e323b;
    border: 1px solid #2e323b;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 10px;
}

.popover-content>img {
    margin: 0px 0px !important;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #1e212b;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 0;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #1e212b;
    border-bottom: 1px solid #1e212b;
    border-radius: 5px 5px 0 0;
    color: #eaffff;
}

.popover.bottom>.arrow::after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #1e212b;
}

.popover-content {
    padding: 0;
}

kbd {
    background-color: #1e212b;
}

.nav_list ul a:hover {
    background: #4F5460;
}

.nav_list ul a:active {
    background: #374C7B;
}

.nav_list ul .active a {
    background: #434A5A;
}

li>ul>.active>a {
    background: #434A5A;
}

.dna {
    width: 360px;
    margin: 100px auto;
    perspective: 270px;
    transform-style: preserve-3d;
    letter-spacing: -5px;
}

.dna:after {
    letter-spacing: 5px;
    display: block;
    padding-top: 50px;
    color: #aaa;
    text-align: center;
    content: 'loading...';
}

.ele {
    width: 6px;
    height: 6px;
    display: inline-block;
    animation: rotate 3s linear infinite;
    transform: rotateX(-360deg) translateZ(0);
    transform-style: preserve-3d;
    margin-left: 0px;
}

.ele:nth-of-type(2n) .dot:before {
    background: deepskyblue;
}

.dot {
    width: inherit;
    height: inherit;
    transform: translateZ(-20px);
    transform-style: preserve-3d;
}

.dot:before {
    content: '';
    width: inherit;
    height: inherit;
    display: block;
    background: #aaa;
    border-radius: 50%;
    animation: rotate 3s linear infinite reverse;
    transform: rotateX(-360deg) translateZ(0);
}

.ele:nth-of-type(1),
.ele:nth-of-type(1) .dot:before {
    animation-delay: -0.1s;
}

.ele:nth-of-type(1):nth-of-type(odd) {
    animation-delay: -1.6s;
}

.ele:nth-of-type(2),
.ele:nth-of-type(2) .dot:before {
    animation-delay: -0.2s;
}

.ele:nth-of-type(2):nth-of-type(odd) {
    animation-delay: -1.7s;
}

.ele:nth-of-type(3),
.ele:nth-of-type(3) .dot:before {
    animation-delay: -0.3s;
}

.ele:nth-of-type(3):nth-of-type(odd) {
    animation-delay: -1.8s;
}

.ele:nth-of-type(4),
.ele:nth-of-type(4) .dot:before {
    animation-delay: -0.4s;
}

.ele:nth-of-type(4):nth-of-type(odd) {
    animation-delay: -1.9s;
}

.ele:nth-of-type(5),
.ele:nth-of-type(5) .dot:before {
    animation-delay: -0.5s;
}

.ele:nth-of-type(5):nth-of-type(odd) {
    animation-delay: -2s;
}

.ele:nth-of-type(6),
.ele:nth-of-type(6) .dot:before {
    animation-delay: -0.6s;
}

.ele:nth-of-type(6):nth-of-type(odd) {
    animation-delay: -2.1s;
}

.ele:nth-of-type(7),
.ele:nth-of-type(7) .dot:before {
    animation-delay: -0.7s;
}

.ele:nth-of-type(7):nth-of-type(odd) {
    animation-delay: -2.2s;
}

.ele:nth-of-type(8),
.ele:nth-of-type(8) .dot:before {
    animation-delay: -0.8s;
}

.ele:nth-of-type(8):nth-of-type(odd) {
    animation-delay: -2.3s;
}

.ele:nth-of-type(9),
.ele:nth-of-type(9) .dot:before {
    animation-delay: -0.9s;
}

.ele:nth-of-type(9):nth-of-type(odd) {
    animation-delay: -2.4s;
}

.ele:nth-of-type(10),
.ele:nth-of-type(10) .dot:before {
    animation-delay: -1s;
}

.ele:nth-of-type(10):nth-of-type(odd) {
    animation-delay: -2.5s;
}

.ele:nth-of-type(11),
.ele:nth-of-type(11) .dot:before {
    animation-delay: -1.1s;
}

.ele:nth-of-type(11):nth-of-type(odd) {
    animation-delay: -2.6s;
}

.ele:nth-of-type(12),
.ele:nth-of-type(12) .dot:before {
    animation-delay: -1.2s;
}

.ele:nth-of-type(12):nth-of-type(odd) {
    animation-delay: -2.7s;
}

.ele:nth-of-type(13),
.ele:nth-of-type(13) .dot:before {
    animation-delay: -1.3s;
}

.ele:nth-of-type(13):nth-of-type(odd) {
    animation-delay: -2.8s;
}

.ele:nth-of-type(14),
.ele:nth-of-type(14) .dot:before {
    animation-delay: -1.4s;
}

.ele:nth-of-type(14):nth-of-type(odd) {
    animation-delay: -2.9s;
}

.ele:nth-of-type(15),
.ele:nth-of-type(15) .dot:before {
    animation-delay: -1.5s;
}

.ele:nth-of-type(15):nth-of-type(odd) {
    animation-delay: -3s;
}

.ele:nth-of-type(16),
.ele:nth-of-type(16) .dot:before {
    animation-delay: -1.6s;
}

.ele:nth-of-type(16):nth-of-type(odd) {
    animation-delay: -3.1s;
}

.ele:nth-of-type(17),
.ele:nth-of-type(17) .dot:before {
    animation-delay: -1.7s;
}

.ele:nth-of-type(17):nth-of-type(odd) {
    animation-delay: -3.2s;
}

.ele:nth-of-type(18),
.ele:nth-of-type(18) .dot:before {
    animation-delay: -1.8s;
}

.ele:nth-of-type(18):nth-of-type(odd) {
    animation-delay: -3.3s;
}

.ele:nth-of-type(19),
.ele:nth-of-type(19) .dot:before {
    animation-delay: -1.9s;
}

.ele:nth-of-type(19):nth-of-type(odd) {
    animation-delay: -3.4s;
}

.ele:nth-of-type(20),
.ele:nth-of-type(20) .dot:before {
    animation-delay: -2s;
}

.ele:nth-of-type(20):nth-of-type(odd) {
    animation-delay: -3.5s;
}

.ele:nth-of-type(21),
.ele:nth-of-type(21) .dot:before {
    animation-delay: -2.1s;
}

.ele:nth-of-type(21):nth-of-type(odd) {
    animation-delay: -3.6s;
}

.ele:nth-of-type(22),
.ele:nth-of-type(22) .dot:before {
    animation-delay: -2.2s;
}

.ele:nth-of-type(22):nth-of-type(odd) {
    animation-delay: -3.7s;
}

.ele:nth-of-type(23),
.ele:nth-of-type(23) .dot:before {
    animation-delay: -2.3s;
}

.ele:nth-of-type(23):nth-of-type(odd) {
    animation-delay: -3.8s;
}

.ele:nth-of-type(24),
.ele:nth-of-type(24) .dot:before {
    animation-delay: -2.4s;
}

.ele:nth-of-type(24):nth-of-type(odd) {
    animation-delay: -3.9s;
}

.ele:nth-of-type(25),
.ele:nth-of-type(25) .dot:before {
    animation-delay: -2.5s;
}

.ele:nth-of-type(25):nth-of-type(odd) {
    animation-delay: -4s;
}

.ele:nth-of-type(26),
.ele:nth-of-type(26) .dot:before {
    animation-delay: -2.6s;
}

.ele:nth-of-type(26):nth-of-type(odd) {
    animation-delay: -4.1s;
}

.ele:nth-of-type(27),
.ele:nth-of-type(27) .dot:before {
    animation-delay: -2.7s;
}

.ele:nth-of-type(27):nth-of-type(odd) {
    animation-delay: -4.2s;
}

.ele:nth-of-type(28),
.ele:nth-of-type(28) .dot:before {
    animation-delay: -2.8s;
}

.ele:nth-of-type(28):nth-of-type(odd) {
    animation-delay: -4.3s;
}

.ele:nth-of-type(29),
.ele:nth-of-type(29) .dot:before {
    animation-delay: -2.9s;
}

.ele:nth-of-type(29):nth-of-type(odd) {
    animation-delay: -4.4s;
}

.ele:nth-of-type(30),
.ele:nth-of-type(30) .dot:before {
    animation-delay: -3s;
}

.ele:nth-of-type(30):nth-of-type(odd) {
    animation-delay: -4.5s;
}

.ele:nth-of-type(31),
.ele:nth-of-type(31) .dot:before {
    animation-delay: -3.1s;
}

.ele:nth-of-type(31):nth-of-type(odd) {
    animation-delay: -4.6s;
}

.ele:nth-of-type(32),
.ele:nth-of-type(32) .dot:before {
    animation-delay: -3.2s;
}

.ele:nth-of-type(32):nth-of-type(odd) {
    animation-delay: -4.7s;
}

.ele:nth-of-type(33),
.ele:nth-of-type(33) .dot:before {
    animation-delay: -3.3s;
}

.ele:nth-of-type(33):nth-of-type(odd) {
    animation-delay: -4.8s;
}

.ele:nth-of-type(34),
.ele:nth-of-type(34) .dot:before {
    animation-delay: -3.4s;
}

.ele:nth-of-type(34):nth-of-type(odd) {
    animation-delay: -4.9s;
}

.ele:nth-of-type(35),
.ele:nth-of-type(35) .dot:before {
    animation-delay: -3.5s;
}

.ele:nth-of-type(35):nth-of-type(odd) {
    animation-delay: -5s;
}

.ele:nth-of-type(36),
.ele:nth-of-type(36) .dot:before {
    animation-delay: -3.6s;
}

.ele:nth-of-type(36):nth-of-type(odd) {
    animation-delay: -5.1s;
}

.ele:nth-of-type(37),
.ele:nth-of-type(37) .dot:before {
    animation-delay: -3.7s;
}

.ele:nth-of-type(37):nth-of-type(odd) {
    animation-delay: -5.2s;
}

.ele:nth-of-type(38),
.ele:nth-of-type(38) .dot:before {
    animation-delay: -3.8s;
}

.ele:nth-of-type(38):nth-of-type(odd) {
    animation-delay: -5.3s;
}

.ele:nth-of-type(39),
.ele:nth-of-type(39) .dot:before {
    animation-delay: -3.9s;
}

.ele:nth-of-type(39):nth-of-type(odd) {
    animation-delay: -5.4s;
}

.ele:nth-of-type(40),
.ele:nth-of-type(40) .dot:before {
    animation-delay: -4s;
}

.ele:nth-of-type(40):nth-of-type(odd) {
    animation-delay: -5.5s;
}

.ele:nth-of-type(41),
.ele:nth-of-type(41) .dot:before {
    animation-delay: -4.1s;
}

.ele:nth-of-type(41):nth-of-type(odd) {
    animation-delay: -5.6s;
}

.ele:nth-of-type(42),
.ele:nth-of-type(42) .dot:before {
    animation-delay: -4.2s;
}

.ele:nth-of-type(42):nth-of-type(odd) {
    animation-delay: -5.7s;
}

.ele:nth-of-type(43),
.ele:nth-of-type(43) .dot:before {
    animation-delay: -4.3s;
}

.ele:nth-of-type(43):nth-of-type(odd) {
    animation-delay: -5.8s;
}

.ele:nth-of-type(44),
.ele:nth-of-type(44) .dot:before {
    animation-delay: -4.4s;
}

.ele:nth-of-type(44):nth-of-type(odd) {
    animation-delay: -5.9s;
}

.ele:nth-of-type(45),
.ele:nth-of-type(45) .dot:before {
    animation-delay: -4.5s;
}

.ele:nth-of-type(45):nth-of-type(odd) {
    animation-delay: -6s;
}

.ele:nth-of-type(46),
.ele:nth-of-type(46) .dot:before {
    animation-delay: -4.6s;
}

.ele:nth-of-type(46):nth-of-type(odd) {
    animation-delay: -6.1s;
}

.ele:nth-of-type(47),
.ele:nth-of-type(47) .dot:before {
    animation-delay: -4.7s;
}

.ele:nth-of-type(47):nth-of-type(odd) {
    animation-delay: -6.2s;
}

.ele:nth-of-type(48),
.ele:nth-of-type(48) .dot:before {
    animation-delay: -4.8s;
}

.ele:nth-of-type(48):nth-of-type(odd) {
    animation-delay: -6.3s;
}

.ele:nth-of-type(49),
.ele:nth-of-type(49) .dot:before {
    animation-delay: -4.9s;
}

.ele:nth-of-type(49):nth-of-type(odd) {
    animation-delay: -6.4s;
}

.ele:nth-of-type(50),
.ele:nth-of-type(50) .dot:before {
    animation-delay: -5s;
}

.ele:nth-of-type(50):nth-of-type(odd) {
    animation-delay: -6.5s;
}

.ele:nth-of-type(51),
.ele:nth-of-type(51) .dot:before {
    animation-delay: -5.1s;
}

.ele:nth-of-type(51):nth-of-type(odd) {
    animation-delay: -6.6s;
}

.ele:nth-of-type(52),
.ele:nth-of-type(52) .dot:before {
    animation-delay: -5.2s;
}

.ele:nth-of-type(52):nth-of-type(odd) {
    animation-delay: -6.7s;
}

.ele:nth-of-type(53),
.ele:nth-of-type(53) .dot:before {
    animation-delay: -5.3s;
}

.ele:nth-of-type(53):nth-of-type(odd) {
    animation-delay: -6.8s;
}

.ele:nth-of-type(54),
.ele:nth-of-type(54) .dot:before {
    animation-delay: -5.4s;
}

.ele:nth-of-type(54):nth-of-type(odd) {
    animation-delay: -6.9s;
}

.ele:nth-of-type(55),
.ele:nth-of-type(55) .dot:before {
    animation-delay: -5.5s;
}

.ele:nth-of-type(55):nth-of-type(odd) {
    animation-delay: -7s;
}

.ele:nth-of-type(56),
.ele:nth-of-type(56) .dot:before {
    animation-delay: -5.6s;
}

.ele:nth-of-type(56):nth-of-type(odd) {
    animation-delay: -7.1s;
}

.ele:nth-of-type(57),
.ele:nth-of-type(57) .dot:before {
    animation-delay: -5.7s;
}

.ele:nth-of-type(57):nth-of-type(odd) {
    animation-delay: -7.2s;
}

.ele:nth-of-type(58),
.ele:nth-of-type(58) .dot:before {
    animation-delay: -5.8s;
}

.ele:nth-of-type(58):nth-of-type(odd) {
    animation-delay: -7.3s;
}

.ele:nth-of-type(59),
.ele:nth-of-type(59) .dot:before {
    animation-delay: -5.9s;
}

.ele:nth-of-type(59):nth-of-type(odd) {
    animation-delay: -7.4s;
}

.ele:nth-of-type(60),
.ele:nth-of-type(60) .dot:before {
    animation-delay: -6s;
}

.ele:nth-of-type(60):nth-of-type(odd) {
    animation-delay: -7.5s;
}

@keyframes rotate {
    to {
        transform: none;
    }
}

.areaForLoader {
    background: url(../pic/preload.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

#section0,
#section1,
#section2,
.slide {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #00ff30;
}

#vk_groups {
    margin: auto;
}

.ofset-top {
    margin-top: 100px;
}

.b_login {
    margin-left: 25px !important;
}

#login .modal-dialog {
    width: 500px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.16);
    border: 0;

    color: #fff;
}

span.remember {
    margin-left: 20px;
}

.modal-dialog a {
    color: #428bca;
}

.modal-footer {
    border-width: 0;
}

.modal-content {
    background-color: #1e1e1e;
}

.modal-header {
    border-bottom: 1px solid #484848;
}

.modal-header .close {
    color: white;
}

.checkbox {
    color: #aaa;
}

.text-center.loginm {
    font-size: xx-large;
    color: #ccc;
}

.modal-footer .btn {
    color: #ccc;
    background-color: #191919;
}

.modal-footer .btn:focus,
.modal-footer .btn:hover {
    color: #fff;
}

.modal-open {
    padding-right: 0 !important;
}

.dropdown-menu {
    right: 0;
    left: auto;
    background-color: rgba(74, 148, 197, 0.7);
    min-width: 230px;
    border-color: transparent;
}

.avatar {
    height: 30px;
    position: relative;
    display: inline-block;
    border-radius: 14px;
    margin: -10px 0;
}

.username {
    display: inline-block;
}

.dropdown-menu-black>li>a {
    display: block !important;
    padding: 3px 20px !important;
    clear: both !important;
    font-weight: normal !important;
    line-height: 1.42857143 !important;
    color: #fff !important;
    white-space: nowrap !important;
}

.dropdown-menu-black .divider {
    height: 1px !important;
    margin: 9px 0 !important;
    overflow: hidden !important;
    background-color: #222 !important;
    display: block !important;
}

.button {
    display: block !important;
    padding: 3px 20px !important;
    clear: both !important;
    font-weight: normal !important;
    line-height: 1.42857143 !important;
    color: #fff !important;
    white-space: nowrap !important;
    background-color: transparent !important;
    border: 0 !important;
    width: 100% !important;
    text-align: left !important;
}

#menu li ul li {
    display: block;
    margin: 0;
    background: none;
    border-radius: 0;
}

#menu li ul li a:hover,
#menu li ul li a:focus {
    color: rgba(74, 148, 197, 1);
    background-color: #2E323B;
    text-decoration: none;
    border-radius: 0px;
}

.button:hover,
.button:focus {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #2E323B !important;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -180px;
    margin-left: -180px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #FFFEFE;
    font-size: 25px;
    font-weight: 300;
}

.navbar-default {
    background-color: rgba(74, 148, 197, 0.7);
    border-color: transparent;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFEFE;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(74, 148, 197, 1);
    background-color: #2E323B;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: rgba(74, 148, 197, 1);
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2E323B;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(74, 148, 197, 1);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: rgba(74, 148, 197, 1);
    background-color: #2E323B;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: rgba(74, 148, 197, 1);
    background-color: #2E323B;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-bottom: 30px;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
    background-color: darkgrey;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline~.card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.butt {
    padding: 15px 20px !important;
}

.butt:hover {
    color: rgba(74, 148, 197, 1) !important;
}

.card {
    background: #fff;
}

.card h2 {
    margin: 10px 0px -10px 20px;
}

.profile_info {
    line-height: 150%;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px
}

.profile_info_row {
    padding-top: 5px;
}

.clear_fix {
    display: block;
}

.profile_info .label1 {
    width: 165px;
    color: #828282;
}

.fl_l {
    float: left;
}

.profile_info .labeled {
    overflow: hidden;
}

.full-height {
    min-height: 100vh;
}

.profile-section {
    background: url(../pic/profile.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.profile-section::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.red {
    color: red;
}

.logo-login {
    height: 350px;
    width: 700px;
    background: url(../pic/logo1.png) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.welcome_bar {
    text-align: left;
    font-size: 18px;
    padding: 2px 5px 5px 5px;
    color: #8a8b90;
    background-color: #1d1e23;
    position: relative;
    top: 160px;
    margin-left: 35px;
    margin-right: 35px;
}

.welcome_input {
    height: 50px;
    width: 313px;
    background-color: #383c45 !important;
    border: 1px solid #0b0c0e;
    outline: none;
    font-size: 18px;
    color: #cbcbcb;
    padding-left: 15px;
}

.welcome_input:focus {
    color: white;
    border: 1px solid #2f404f;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.login_inp {
    position: relative;
    top: 183px;
    left: -10px;
}

.pass_inp {
    position: relative;
    top: 183px;
    left: 11px;
}

.login_inp:disabled {
    position: relative;
    top: 182px;
}

.pass_inp:disabled {
    position: relative;
    top: 182px;
}

.welcome_btn {
    position: relative;
    top: 198px;
    height: 51px;
    width: 314px;
    color: white;
    background-color: #383c45;
    border: 0;
    font-size: 18px;
}

.welcome_btn:hover {
    border: 1px solid #2f404f;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.welcome_input:disabled {
    color: #6e6e6e;
    border-color: #383c45;
}

.BRTBTableResponsive {
    min-height: .01%;
    overflow-x: auto;
}

.brtb_item_table td {
    border: 1px solid #909090;
    padding: .5em;
}

.section-title.news {
    margin-top: 0;
}

#news {
    background-color: lightgray;
}

.panel-body ul, .panel-body ol {
    margin:1em;
    margin-left: 3em;
    margin-right: 0;
}

.panel-body ul li {
    list-style: disc outside;
}

.panel-body ol li {
    list-style: decimal outside;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color:#696969;
    background-color: #272727;
}

.help-block {
    font-size: 14px;
}

.list-group.help-group {
    margin-bottom: 20px;
    padding-left: 0;
    margin: 0;
}

.list-group.help-group .faq-list {
    display: block;
    top: auto;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.list-group.help-group .faq-list .list-group-item {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #616161;
    transition: background-color .2s;
}

.list-group.help-group .faq-list .list-group-item i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.list-group.help-group .faq-list .list-group-item:hover {
    background-color: #f6f6f6;
}

.list-group.help-group .faq-list .list-group-item.active {
    background-color: #f6f6f6;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
}

.list-group.help-group .faq-list .list-group-item:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
}

.tab-content.panels-faq {
    padding: 0;
    border: 0;
}

.panel.panel-help {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    padding-bottom: 0;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 0 16px;
}

.panel.panel-help a[href^="#"],
.panel.panel-help a[href^="#"]:hover,
.panel.panel-help a[href^="#"]:focus {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.panel.panel-help .panel-heading {
    background-color: #f6f6f6;
    padding: 0 16px;
    line-height: 48px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
}

.panel.panel-help .panel-heading h2 {
    margin: 0;
    padding: 14px 0 14px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: none;
}

.panel.panel-help .panel-body {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
}

.panel.panel-help .panel-body p {
    margin: 0 0 16px;
}

.panel.panel-help .panel-body p:last-of-type {
    margin: 0;
}

.panel-help p {
    font-size: 16px;
}

#faq {
    background-color: lightgray;
}

.valign h2 {
    font: bold 4.5em/1.5 Bebas, sans-serif;
    color: rgba(74, 148, 197, 1);
    font-size: 36px;
    margin-top: -70px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.65);
}

.market_text {
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.65);
    color: #ccc;
}
.market_text a {
    color: #40a7ff;
}

.market_text a:focus, .market_text a:hover {
    color: #99cfff;
    text-decoration: underline;
}

.section_market {
    background: url(../pic/market.jpg) #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.section_market::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pricing_table {
    color: #fff;
    font-size: 12px;
    font-family: Ubuntu, arial, verdana;
    line-height: 150%;
    text-align: center;
    margin: 100px auto 0 auto;
    max-width: 750px;
}


/*Only the direct LI child, not the .features li*/

.pricing_table>li {
    background: linear-gradient(#666, #333);
    width: 33.33%;
    float: left;
    list-style-type: none;
    /*For smooth hover effects if .active is replaced by :hover*/
    transition: all 0.2s;
}

.pricing_table>li.active {
    background: linear-gradient(#72beff, #245cdb);
    transform: scale(1.03);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}

.pricing_table h3 {
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 14px;
    font-weight: bold;
}

.pricing_table .price_body {
    width: 125px;
    height: 125px;
    margin: 0 auto 15px auto;
    border: 2px solid #0daad8;
    border-radius: 100%;
    display: table;
}

.pricing_table .price {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    /*Lets vertically center align the price now*/
    vertical-align: middle;
    display: table-cell;
}

.pricing_table .price .price_figure {
    display: block;
}

.pricing_table .price .price_term {
    font-size: 11px;
    font-weight: normal;
}

.pricing_table .features li {
    list-style-type: none;
    padding: 5px 0;
}

.pricing_table .footer {
    padding: 10px;
    background: #333;
    margin-top: 10px;
}

.pricing_table .footer .action_button {
    color: #fff;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background: #000;
    padding: 4px 20px;
    border-radius: 15px;
    background: linear-gradient(#666, #333);
}

.pricing_table li.active .footer .action_button {
    background: linear-gradient(#4aa8f9, #2487db);
}

.clr {
    clear: both;
}

.pricing_table .active .price_body {
    width: 125px;
    height: 125px;
    margin: 0 auto 15px auto;
    border: 2px solid #fff;
    border-radius: 100%;
    display: table;
}
#market_soon {
    color:white;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 90px auto;
    }
}
