<template>
  <div class="app">
    <div class="areaForLoader" v-if="preloaderTogle">
      <div class="preloader">
        <div class="dna">
          <div class="ele" v-for="index in 60" :key="index">
            <div class="dot"></div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" id='menu'>
            <li data-menuanchor="hakeme" class="active"><a href="#hakeme">xenohack</a></li>
            <li data-menuanchor="function"><a href="#function">Функции</a></li>
            <li data-menuanchor="gallery"><a href="#gallery">Галерея</a></li>
            <li data-menuanchor="garant"><a href="#garant">Гарантии</a></li>
            <li data-menuanchor="market"><a href="#market">Покупка</a></li>
            <li class="dropdown b_login" v-if="user">
              <a href="#" class="dropdown-toggle aavatar" data-toggle="dropdown">
                <div class="username">
                  {{ user.username }}
                </div>
                <img :src="avatar" class="avatar">
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-black" role="menu">
                <li>
                  <!-- <router-link :to="{ path: '/account' }">Личный кабинет</router-link> -->
                  <a href="/account">Личный кабинет</a>
                </li>
                <li class="divider"></li>
                <li>
                  <form class="ajax" method="" action="">
                    <input type="hidden" name="act" value="logout">
                    <button class="button" type="button" @click="logout">Выйти</button>
                  </form>
                </li>
              </ul>
            </li>
            <li v-else class="b_login"><a href="#login" role="button" data-toggle="modal" data-target="#login">Вход</a></li>
            <div id="login" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="text-center loginm">Вход</h2>
                  </div>
                  <div class="modal-body">
                    <form onsubmit="return false" class="form col-md-12 center-block ajax" method="" action="">
                      <div class="main-error alert alert-error hide"></div>
                      <div class="form-group">
                        <input name="username" :disabled="authLoader" v-model="username" @keydown.enter="login" type="text" autocomplete="off" class="form-control input-lg" placeholder="Имя пользователя" autofocus>
                      </div>
                      <div class="form-group">
                        <input name="password" :disabled="authLoader" v-model="password" @keydown.enter="login" autocomplete="new-password" type="password" class="form-control input-lg" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label class="checkbox">
                          <input v-model="rememberme" :disabled="authLoader" style="margin-left: 0px; margin-bottom: 15px;" name="remember-me" type="checkbox" value="remember-me" checked>
                          <span class="remember">Запомнить меня</span>
                          <span class="pull-right"><a href="#registration" role="button" data-toggle="modal">Регистрация</a></span>
                        </label>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="button" :disabled="authLoader" @click="login">Войти</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="registration" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="text-center loginm">Регистрация</h2>
                  </div>
                  <div class="modal-body">
                    <form onsubmit="return false" class="form col-md-12 center-block ajax" method="" action="">
                      <div class="form-group">
                        <input class="form-control input-lg" v-model="usernamereg" @keydown.enter="register" type="text" name="username" placeholder="Имя пользователя">
                      </div>
                      <div class="form-group">
                        <input class="form-control input-lg" v-model="email" @keydown.enter="register" type="email" name="email" placeholder="Почтовый адрес">
                      </div>
                      <div class="form-group">
                        <input class="form-control input-lg" v-model="password1" @keydown.enter="register" type="password" name="password1" placeholder="Пароль">
                      </div>
                      <div class="form-group">
                        <input class="form-control input-lg" v-model="password2" @keydown.enter="register" type="password" name="password2" placeholder="Подтверждение">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" @click="register" :disabled="registerLoader || !usernamereg || !email || !password1 || !password2" type="button">Зарегистрироваться</button>
                        <span class="" style="margin-top:10px;color:#ccc;">Уже есть аккаунт? <a role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true" style="cursor:pointer;">Вход</a></span>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12">
                      <span v-if="registerLoader" style="color:red">Процесс регистрации, ожидайте!</span>
                      <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="errorSubscribe" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="text-center loginm">Ошибка</h2>
                  </div>
                  <div class="modal-body" style="text-align: center;margin-top: 15px">
                    Ваша подписка еще активна, покупка будет доступна по ее истечению
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    <div id="fullpage">
      <div class="section active home-section" id="section0">
        <div id="particles-js"></div>
        <div class="content-wrapper">
          <div class="valign text-center">
            <div id="wrap">
              <div class="home-title">

                <br>
              </div>
              <div class="logo-login" style="background: url(../../static/pic/logo1.png) #333 center center;">
                <p v-if="user" class="welcome_bar">Добро пожаловать, <span :style="style">{{ user.username }}</span></p>
                <form v-if="user" class="welcome_form ajax" method="" action="">
                  <input name="username" type="text" class="welcome_input login_inp" placeholder="Имя пользователя" disabled>
                  <input name="password" type="password" class="welcome_input pass_inp" placeholder="Пароль" disabled>
                  <input name="remember-me" type="hidden" value="remember-me">
                  <button class="welcome_btn" type="button" @click="logout">Выйти</button>
                </form>
                <p v-if="!user" class="welcome_bar">Подключен к серверу. Войдите в аккаунт:</p>
                <form v-if="!user" class="welcome_form ajax" method="" action="">
                  <input name="username" :disabled="authLoader" v-model="username" @keydown.enter="login" autocomplete="off" type="text" class="welcome_input login_inp" placeholder="Имя пользователя">
                  <input name="password" :disabled="authLoader" @keydown.enter="login" v-model="password" autocomplete="new-password" type="password" class="welcome_input pass_inp" placeholder="Пароль">
                  <input name="remember-me" :disabled="authLoader" v-model="rememberme"  type="hidden" value="remember-me">
                  <button class="welcome_btn" :disabled="authLoader" type="button" @click="login">Войти</button>
                </form>
              </div>
            </div>
            <!-- /#wrap -->
          </div>
          <!-- /.container -->
        </div>
      </div>
      <div class="section queen" id="section1">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="section-title">
                <h2>Функционал</h2>
              </div>
              <div class="col-xs-3">
                <ul id="nav_list_second" class="nav nav_list" role="tablist">
                  <li><a href="#">Awareness</a>
                    <ul>
                      <li role="presentation"><a href="#ACESP" role="tab" data-toggle="tab">Ability Cooldown ESP</a></li>
                      <!--<li role="presentation"><a  href="#CMH" role="tab" data-toggle="tab">Creep MapHack</a></li>-->
                      <li role="presentation"><a href="#AllESP" role="tab" data-toggle="tab">Illusion ESP</a></li>
                      <li role="presentation"><a href="#MBMESP" role="tab" data-toggle="tab">Mana Bars / Mana ESP</a></li>
                      <li role="presentation"><a href="#SHSpl" role="tab" data-toggle="tab">Show Hidden Spells</a></li>
                      <li role="presentation"><a href="#ShNSpB" role="tab" data-toggle="tab">Show Neutral Spawn Boxes</a></li>
                      <li role="presentation"><a href="#VistoEESP" role="tab" data-toggle="tab">Visible to Enemy ESP</a></li>
                      <li role="presentation"><a href="#XPMon" role="tab" data-toggle="tab">XP Monitor</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Hero Specific</a>
                    <ul>
                      <li role="presentation"><a href="#AnMag" role="tab" data-toggle="tab">Anti-Mage</a></li>
                      <li role="presentation"><a href="#Axe" role="tab" data-toggle="tab">Axe</a></li>
                      <li role="presentation"><a href="#IO" role="tab" data-toggle="tab">IO / Wisp</a></li>
                      <li role="presentation"><a href="#Inv" role="tab" data-toggle="tab">Invoker</a></li>
                      <li role="presentation"><a href="#Kunka" role="tab" data-toggle="tab">Kunka</a></li>
                      <li role="presentation"><a href="#Legion" role="tab" data-toggle="tab">Legion Commander</a></li>
                      <li role="presentation"><a href="#Lina" role="tab" data-toggle="tab">Lina</a></li>
                      <li role="presentation"><a href="#Lion" role="tab" data-toggle="tab">Lion</a></li>
                      <li role="presentation"><a href="#Meepo" role="tab" data-toggle="tab">Meepo</a></li>
                      <li role="presentation"><a href="#Necr" role="tab" data-toggle="tab">Necrophos</a></li>
                      <li role="presentation"><a href="#PA" role="tab" data-toggle="tab">Phantom Assassin</a></li>
                      <li role="presentation"><a href="#Pudge" role="tab" data-toggle="tab">Pudge</a></li>
                      <li role="presentation"><a href="#Rubick" role="tab" data-toggle="tab">Rubick</a></li>
                      <li role="presentation"><a href="#SF" role="tab" data-toggle="tab">Shadow Fiend</a></li>
                      <li role="presentation"><a href="#Sniper" role="tab" data-toggle="tab">Sniper</a></li>
                      <li role="presentation"><a href="#StormSp" role="tab" data-toggle="tab">Storm Spirit</a></li>
                      <li role="presentation"><a href="#Techies" role="tab" data-toggle="tab">Techies</a></li>
                      <li role="presentation"><a href="#TA" role="tab" data-toggle="tab">Templar Assassin</a></li>
                      <li role="presentation"><a href="#Zuus" role="tab" data-toggle="tab">Zeus</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Item Specific</a>
                    <ul>
                      <li role="presentation"><a href="#Dagon" role="tab" data-toggle="tab">Auto Dagon</a></li>
                      <li role="presentation"><a href="#Phase" role="tab" data-toggle="tab">Auto Phase Boots</a></li>
                      <li role="presentation"><a href="#Medallion" role="tab" data-toggle="tab">Medallion / Crest During Attack</a></li>
                      <li role="presentation"><a href="#Orchid" role="tab" data-toggle="tab">Orchid During Attack</a></li>
                      <li role="presentation"><a href="#ThreadsIS" role="tab" data-toggle="tab">Treads Switcher</a></li>
                      <li role="presentation"><a href="#Urn" role="tab" data-toggle="tab">Urn of Shadows During Attack</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Key Bindings</a>
                    <ul>
                      <li role="presentation"><a href="#AggKey" role="tab" data-toggle="tab">Aggro Key</a></li>
                      <!--<li role="presentation"><a href="#CritKey" role="tab" data-toggle="tab">Crit Hack Key</a></li>-->
                      <li role="presentation"><a href="#DenyKey" role="tab" data-toggle="tab">Deny Key</a></li>
                      <li role="presentation"><a href="#GhostWalkKey" role="tab" data-toggle="tab">Ghost Walk Key</a></li>
                      <li role="presentation"><a href="#LastHitKey" role="tab" data-toggle="tab">Last Hit Key</a></li>
                      <!--<li role="presentation"><a href="#MHRKey" role="tab" data-toggle="tab">MapHack Refresh Key</a></li>-->
                      <li role="presentation"><a href="#MenuKey" role="tab" data-toggle="tab">Menu Key</a></li>
                      <li role="presentation"><a href="#OrbWalkKey" role="tab" data-toggle="tab">Orb Walk Key</a></li>
                      <li role="presentation"><a href="#PoofAllKey" role="tab" data-toggle="tab">Poof All to Selected Meepo Key</a></li>
                      <li role="presentation"><a href="#PoofBlinkKey" role="tab" data-toggle="tab">Poof Blink Combo Key</a></li>
                      <li role="presentation"><a href="#podgeKey" role="tab" data-toggle="tab">Pudge Hook Key</a></li>
                      <li role="presentation"><a href="#RemoveAggroKey" role="tab" data-toggle="tab">Remove Aggro Key</a></li>
                      <li role="presentation"><a href="#StackKey" role="tab" data-toggle="tab">Select Stack Units Key</a></li>
                      <li role="presentation"><a href="#ShadowrazeKey" role="tab" data-toggle="tab">Shadowraze Key</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Misc</a>
                    <ul>
                      <li role="presentation"><a href="#ACFS" role="tab" data-toggle="tab">Ability Cooldown Font Size</a></li>
                      <li role="presentation"><a href="#svBypass" role="tab" data-toggle="tab">sv_cheats Bypass</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Utility</a>
                    <ul>
                      <li role="presentation"><a href="#AegisSn" role="tab" data-toggle="tab">Aegis Snatcher</a></li>
                      <li role="presentation"><a href="#AutoAcc" role="tab" data-toggle="tab">Auto Accept Matches</a></li>
                      <li role="presentation"><a href="#AutoDis" role="tab" data-toggle="tab">Auto Disable</a></li>
                      <li role="presentation"><a href="#AutoQue" role="tab" data-toggle="tab">Auto Queue</a></li>
                      <li role="presentation"><a href="#AutoStack" role="tab" data-toggle="tab">Auto Stacker</a></li>
                      <li role="presentation"><a href="#Camera" role="tab" data-toggle="tab">Camera</a></li>
                      <li role="presentation"><a href="#CreepAggro" role="tab" data-toggle="tab">Creep Aggro</a></li>
                      <li role="presentation"><a href="#CustomRange" role="tab" data-toggle="tab">Custom Range</a></li>
                      <li role="presentation"><a href="#LastHit" role="tab" data-toggle="tab">Last Hit</a></li>
                      <li role="presentation"><a href="#MpRAb" role="tab" data-toggle="tab">Mp Recovery Abuse</a></li>
                      <li role="presentation"><a href="#OrbWalker" role="tab" data-toggle="tab">Orb Walker</a></li>
                      <li role="presentation"><a href="#RuneSn" role="tab" data-toggle="tab">Rune Snatcher</a></li>
                      <li role="presentation"><a href="#ThreadsUt" role="tab" data-toggle="tab">Treads Switcher</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-xs-9" style="margin-top: 10px;">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active in fade" id="tab1">
                    <p class="bg-success">← Используйте <kbd>меню</kbd>, чтобы выбрать функцию и узнать о ней больше.</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="ACESP">
                    <p class="bg-success">Отображает уровень прокачки и кулдаун способностей противника текстом</p>
                    <img src="../../static/pic/ACESP.jpg" alt="Ability Cooldown ESP" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="AllESP">
                    <p class="bg-success">Подсвечивает иллюзии синим а героя желтым, герой висит в воздухе</p>
                    <img src="../../static/pic/AllESP.jpg" alt="Illusion ESP" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="MBMESP">
                    <p class="bg-success">Отображает полоску маны у противников</p>
                    <img src="../../static/pic/MBMESP.jpg" alt="Mana Bars / Mana ESP" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="SHSpl">
                    <p class="bg-success">Показывает способности, которых вы видеть не должны:
                      <a href="javascript:void(0)" data-toggle="popover" class="popover-bottom" data-content='<img src="../../static/pic/SHSpl_1.jpg" alt="Illusion ESP" class="img-thumbnail">'>санстрайк</a>,
                      <a href="javascript:void(0)" data-toggle="popover" class="popover-bottom" data-content='<img src="../../static/pic/SHSpl_2.jpg" alt="Illusion ESP" class="img-thumbnail">'>стрела</a>,
                      <a href="javascript:void(0)" data-toggle="popover" class="popover-bottom" data-content='<img src="../../static/pic/SHSpl_3.jpg" alt="Illusion ESP" class="img-thumbnail">'>разбег бары</a>										и т.д.
                    </p>
                    <img src="../../static/pic/SHSpl.jpg" alt="Show Hidden Spells" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="ShNSpB">
                    <p class="bg-success">Отображает область, в которой появляются крипы. Это есть и в нестройках доты, но теперь вам не нужно нажимать Alt</p>
                    <img src="../../static/pic/ShNSpB.jpg" alt="Show Neutral Spawn Boxes" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="VistoEESP">
                    <p class="bg-success">Оповещение о том, что противники видят вас/ваших союзников. <br />
                      <kbd>Visible Effect Frequency</kbd> - выбор частоты, с которой будет мигать оповещение.<br />
                      <kbd>Visible Effect Type</kbd> - выбор внешнего вида оповещения:
                      <a href="javascript:void(0)" data-toggle="popover" class="popover-bottom" data-content='<img src="../../static/pic/VistoEESP_1.jpg" alt="Illusion ESP" class="img-thumbnail">'>shivas_guard_impact</a>,
                      <a href="javascript:void(0)" data-toggle="popover" class="popover-bottom" data-content='<img src="../../static/pic/VistoEESP_2.jpg" alt="Illusion ESP" class="img-thumbnail">'>aura_shivas</a>,
                      <a href="javascript:void(0)" data-toggle="popover" class="popover-bottom" data-content='<img src="../../static/pic/VistoEESP_3.jpg" alt="Illusion ESP" class="img-thumbnail">'>shivas_guard_active</a>,
                      <a href="javascript:void(0)" data-toggle="popover" class="popover-bottom" data-content='<img src="../../static/pic/VistoEESP_4.gif" alt="Illusion ESP" class="img-thumbnail">'>dust_of_appearance_true_sight</a>,
                      <a href="javascript:void(0)" data-toggle="popover" class="popover-bottom" data-content='<img src="../../static/pic/VistoEESP_5.jpg" alt="Illusion ESP" class="img-thumbnail">'>teleport_end_streak</a>										<br />
                      <kbd>Visible Effect on Allies</kbd> - отображать на союзниках
                    </p>
                    <img src="../../static/pic/VistoEESP.jpg" alt="Visible to Enemy ESP" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="XPMon">
                    <p class="bg-success">Показывает, сколько противников вокруг крипа, который умер</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="AnMag">
                    <p class="bg-success"><kbd>Auto Mana Void</kbd> - автоматически кастует ульт антимага, если у противника достаточно мало маны</p>
                    <img src="../../static/pic/AnMag.jpg" alt="Anti-Mage" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Axe">
                    <p class="bg-success"><kbd>Auto Culling Blade</kbd> - автоматически кастует ульт Акса, если порог хп позволяет убить<br />
                      <kbd>Auto Culling Blade uses Blink Dagger</kbd> - пригнет с дагера к врагу, которого можно убить</p>
                    <img src="../../static/pic/Axe.jpg" alt="Axe" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="IO">
                    <p class="bg-success"><kbd>Spirits Aimbot</kbd> - управляет радиусом спиритов, чтобы те попадали в ближайшего противника</p>
                    <img src="../../static/pic/IO.jpg" alt="IO / Wisp" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Inv">
                    <p class="bg-success"><kbd>Euls/Tornado Combo Helper</kbd> - после того, как вы скастуете а противника Eul или торнадо выполнит комбо<br
                      />
                      <kbd>Combo Helper: Use Chaos Meteor</kbd> - использовать метеор в комбо<br />
                      <kbd>Combo Helper: Use Deafening Blast</kbd> - использовать бласт в комбо<br />
                      <kbd>Combo Helper: Use EMP</kbd> - использовать EMP в комбо<br />
                      <kbd>Combo Helper: Use Sun Strike</kbd> - использовать санстрайк в комбо<br />
                      <kbd>Ghost Walk Key</kbd> - при нажатии кнопки моментально кастует и использует инвиз<br />
                      <kbd>Sun Strike Stunned Enemies</kbd> - будет давать санстрайк всякий раз, как ваши союзники кого-то застанят</p>
                    <img src="../../static/pic/Inv.jpg" alt="Invoker" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Kunka">
                    <p class="bg-success"><kbd>Auto X Marks Combo</kbd> - при использовании креста на противника автоматически попадет торрентом</p>
                    <img src="../../static/pic/Kunka.jpg" alt="Kunka" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Legion">
                    <p class="bg-success"><kbd>Auto Efficient Duel</kbd> - просто используйте ульт на противника и Ленион сама прожмет все необходимое, прыгнет
                      с блинка и даст дуэль<br />
                      <kbd>Duel: Use Black King Bar</kbd> - использовать бкб перед дуэлью</p>
                    <img src="../../static/pic/Legion.jpg" alt="Legion" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Lina">
                    <p class="bg-success"><kbd>Auto Laguna Blade</kbd> - автоматически добьет противника ультой, если у него мало hp<br />
                      <kbd>Lina Eul Combo Helper</kbd> - после использования Eul (вашего, союзного или вражеского) на противника даст
                      стан по таймингу</p>
                    <img src="../../static/pic/Lina.jpg" alt="Lina" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Lion">
                    <p class="bg-success"><kbd>Auto Finger Of Death</kbd> - автоматически добьет противника ультой, если у него мало hp</p>
                    <img src="../../static/pic/Lion.jpg" alt="Lion" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Meepo">
                    <p class="bg-success"><kbd>Meepo Base Run HP Percent</kbd> - количество hp в %, при котором мипо отправится на базу<br />
                      <kbd>Poof All to Selected Meepo Key</kbd> - при нажатии все остальные мипо пуфнутся к выбраному<br />
                      <kbd>Poof Blink Combo Key</kbd> - при нажатии кнопки моментально кастует пуфы на основного мипо и прыгает во врага<br
                      />
                      <kbd>Send Meepos to Base When Low</kbd> - отправлять мипо на базу, если у него мало hp</p>
                    <img src="../../static/pic/Meepo.jpg" alt="Meepo" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Necr">
                    <p class="bg-success"><kbd>Auto Reapers Scythe</kbd> - автоматически кастовать ульт, если это убьет цель</p>
                    <img src="../../static/pic/Necr.jpg" alt="Necr" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="PA">
                    <p class="bg-success"><kbd>Auto Stifling Dagger</kbd> - кидает дагре в противника, если можно добить</p>
                    <img src="../../static/pic/PA.jpg" alt="PA" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Pudge">
                    <p class="bg-success"><kbd>Dynamic Velocity Calculation (Hook)</kbd> - альтернативный режим оассчета траектории хука<br />
                      <kbd>Pudge Hook Key</kbd> - при нажатии хукнет ближайшего противника</p>
                    <img src="../../static/pic/Pudge.jpg" alt="Pudge" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Rubick">
                    <p class="bg-success"><kbd>Rubick Ultimate Stealer</kbd> - автоматически ворует ультимейты</p>
                    <img src="../../static/pic/Rubick.jpg" alt="Rubick" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="SF">
                    <p class="bg-success"><kbd>Shadowraze Key</kbd> - при нажатии кастует койлы</p>
                    <img src="../../static/pic/SF.jpg" alt="SF" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Sniper">
                    <p class="bg-success"><kbd>Auto Assassinate</kbd> - автоматически добивает ультой</p>
                    <img src="../../static/pic/Sniper.jpg" alt="Sniper" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="StormSp">
                    <p class="bg-success"><kbd>Storm Spirit Helper</kbd> - при автоатаке автоматически кастует способности, чтобы нанести как можно больше
                      урона пасивкой</p>
                    <img src="../../static/pic/StormSp.jpg" alt="StormSp" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Techies">
                    <p class="bg-success"><kbd>Auto Use Remote Mines</kbd> - взрывает необходимое количество мин для убийства противника<br />
                      <kbd>Legit Auto Remote Mines</kbd> - взрывать сразу все мины в пачке, чтобы не вызывать подозрений<br />
                      <kbd>Remote Mines: Kill Aegis</kbd> - будет взрывать противника, если у него аегис</p>
                    <img src="../../static/pic/Techies.jpg" alt="Techies" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="TA">
                    <p class="bg-success"><kbd>Auto Meld</kbd> - при автоатаке автоматически кастует Meld</p>
                    <img src="../../static/pic/TA.jpg" alt="TA" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Zuus">
                    <p class="bg-success"><kbd>Auto Zeus Ultimate</kbd> - добивает противником ультой<br />
                      <kbd>Minimum Enemies to Kill (Zeus Ult)</kbd> - минимальное количество противников, которое умрет при ульте</p>
                    <img src="../../static/pic/Zuus.jpg" alt="Zuus" class="img-thumbnail">
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Dagon">
                    <p class="bg-success">Aвтоматическое добивание дагоном</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Phase">
                    <p class="bg-success">Aвтоматически нажимает фейзы при передвижении</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Medallion">
                    <p class="bg-success">Aвтоматически вешает медальку/крест на цель</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Orchid">
                    <p class="bg-success">Использует орчид/блудторн на цель</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="ThreadsIS">
                    <p class="bg-success">Переключает ПТ в зависимости от игровой ситуации. Например, при использовании ботла переключает на ловкость, при
                      автоатаке - на основную характеристику персонажа.</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Urn">
                    <p class="bg-success">При автоатаке вешает урну на цель</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="AggKey">
                    <p class="bg-success">Заагрить крипов на себя</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="CritKey">
                    <p class="bg-success">Работает на некоторых героях с критом (джагер, чаос, леорик): персонаж будет замахиватся, пока не вылетит крит</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="DenyKey">
                    <p class="bg-success">Удерживайте кнопку, чтобы чит добивал союзных крипов</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="GhostWalkKey">
                    <p class="bg-success">При нажатии кнопки моментально кастует и использует инвиз (Invoker)</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="LastHitKey">
                    <p class="bg-success">Удерживайте кнопку, чтобы чит добивал крипов</p>
                  </div>
                  <!--<div role="tabpanel" class="tab-pane fade" id="MHRKey">
                  <p class="bg-success">Aвтоматическое добивание дагоном</p>
                </div>-->
                  <div role="tabpanel" class="tab-pane fade" id="MenuKey">
                    <p class="bg-success">Открыть/Закрыть меню</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="OrbWalkKey">
                    <p class="bg-success">Удерживайте кнопку, чтобы персонаж преследовал противника с упреждением</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="PoofAllKey">
                    <p class="bg-success">При нажатии все остальные мипо пуфнутся к выбраному</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="PoofBlinkKey">
                    <p class="bg-success">При нажатии кнопки моментально кастует пуфы на основного мипо и прыгает во врага</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="podgeKey">
                    <p class="bg-success">При нажатии хукнет ближайшего противника</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="RemoveAggroKey">
                    <p class="bg-success">Переагрить вышку/крипов от себя</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="StackKey">
                    <p class="bg-success">При выбраном прирученном юните будет стакать им ближайший кемп</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="ShadowrazeKey">
                    <p class="bg-success">При нажатии кастует койлы</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="ACFS">
                    <p class="bg-success">Настройка размера шрифта функции <kbd>Ability Cooldown ESP</kbd></p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="svBypass">
                    <p class="bg-success">Включить поддержку команд с тегом _cheats</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="AegisSn">
                    <p class="bg-success">Автоматически подбирать аегис после убийства рошана</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="AutoAcc">
                    <p class="bg-success">Автоматически принимать найденную игру</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="AutoDis">
                    <p class="bg-success">При наличии у персонажа обездвиживающих способностей/предметов будет кастовать их в того, что прыгает в вас с дагера</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="AutoQue">
                    <p class="bg-success">Автоматически начинать поиск игры</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="AutoStack">
                    <p class="bg-success"><kbd>Auto Stacker</kbd> - стакает выбраным юнитом ближайший кемп<br />
                      <kbd>Select Stack Units Key</kbd> - кнопка, при нажатии которой выбирается юнит<br />
                      <kbd>Show Stack Status</kbd> - отображает над юнитом выполняимое им действие</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="Camera">
                    <p class="bg-success"><kbd>Camera Hack</kbd> - убрать ограничение на отдаление камеры. Используйте колесико мыши<br />
                      <kbd>Max Camera Distance</kbd> - максимальное расстояние, на которое можно отдалить камеру</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="CreepAggro">
                    <p class="bg-success"><kbd>Aggro Creeps</kbd> - функция позволяет заагрить/разагрить крипов(вышку) на себя<br />
                      <kbd>Aggro Key</kbd> - кнопка, чтобы заагрить крипов<br />
                      <kbd>Remove Aggro Key</kbd> - кнопка, чтобы разагрить крипов</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="CustomRange">
                    <p class="bg-success"><kbd>Custom Range Effect</kbd> - рисует вокруг персонажа круг с настраиваемым радиусом<br />
                      <kbd>Custom Range Radius</kbd> - выбор радиуса круга, например радиус получения опыта</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="LastHit">
                    <p class="bg-success"><kbd>Automated Deny</kbd> - автоматически денаить крипов, без нажатия на кнопку<br />
                      <kbd>Automated Last Hit</kbd> - автоматически ластхитить крипов, без нажатия на кнопку<br />
                      <kbd>Deny Key</kbd> - кнопка для деная<br />
                      <kbd>Last Hit Key</kbd> - кнопка для ластхита<br />
                      <kbd>Last Hit Key Moves to Cursor</kbd> - между тем, как чит будет добивать крипов, он будет перемещать персонажа
                      на точку, куда указыват курсор<br />
                      <kbd>Round Animation Cancel Time to Ticks</kbd> - округлять игровое время<br />
                      <kbd>Round Automatic Time to  </kbd> - округлять время анимации отмены атаки<br />
                      <kbd>Use Global Time for Prediction</kbd> - использовать реальное время для предсказания действий</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="MpRAb">
                    <p class="bg-success">Автоматически выкладывает предметы, которые добавляют персонажу ману и hp при использовании аркан, стиков, соулринга
                      и т.д.</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="OrbWalker">
                    <p class="bg-success"><kbd>Orb Walk Key</kbd> - выбор кнопки для использования функции<br />
                      <kbd>Orb Walk Style</kbd> - Выбор режима работы: Off - при нажатой кнопке в перерывах между автоатакой продвигатся
                      к курсору; On - в перерывах между автоатаками двигатся в сторону противника, при нажатой кнопке двигатся к курсору<br
                      />
                      <kbd>Orb Walker / Animation Cancel</kbd> - начинать движение до завершения анимации атаки</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="RuneSn">
                    <p class="bg-success">Автоматически подбирать руны</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="ThreadsUt">
                    <p class="bg-success">Переключает ПТ в зависимости от игровой ситуации. Например, при использовании ботла переключает на ловкость, при
                      автоатаке - на основную характеристику персонажа.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="section2">
        <div class="slide" style="background-image: url(../../static/pic/screen1.png);"></div>
        <div class="slide" style="background-image: url(../../static/pic/screen2.png);"></div>
        <div class="slide" style="background-image: url(../../static/pic/screen3.png);"></div>
        <div class="slide" style="background-image: url(../../static/pic/screen4.png);"></div>
        <div class="slide" style="background-image: url(../../static/pic/screen7.jpg);"></div>
      </div>
      <div class="section" id="section3" style="min-height:900px;">
        <div class="slide vk">
          <div class="container ofset-top">
            <div class="row">
              <div class="col-md-4">
                <div id="vk_groups"></div>
              </div>
              <div class="col-md-8">
                <p class="bg-success" style="margin-bottom: 15px;">Вы можете найти более 300 положительных <a href="https://vk.com/topic-138294858_35097060" target="_blank">отзывов</a>								в нашей группе ВКонтакте.</p>
                <div id="vk_post_-109823946_3081"></div>
              </div>
            </div>
          </div>
          <div id="vk_groups"></div>
        </div>
        <div class="slide you">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="section-title">
                  <h2>Видеообзор чита</h2>
                </div>
                <iframe class="frame_youtube" width="100%" src="https://www.youtube.com/embed/6hpmYKg5R9k" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section_market" id="section4">
        <div class="content-wrapper">
          <div class="valign">
            <div id="wrap">
              <div class="container">
                <div class="row">
                  <div class="col-lg-offset-2 col-sm-offset-0 col-md-offset-0 col-md-12 col-sm-12 col-lg-8 "><div><h2 class="text-center ">Покупка чита:</h2></div></div>
                  <ul class="pricing_table">
                    <li>
                      <h3>1 неделя</h3>
                      <div class="price_body">
                        <div class="price">
                          <span v-if="upgrades" class="price_figure">{{ upgrades[1].cost_amount }}</span>
                          <span v-else  class="price_figure">ERROR</span>
                          <span class="price_term">рублей</span>
                        </div>
                      </div>
                      <div class="features">
                        <ul>
                          <li>1 неделя пользования читом</li>
                          <li>Доступ к приватным разделам форума</li>
                          <li>Техническая поддержка</li>
                        </ul>
                      </div>
                      <div class="footer">
                        <a v-if="user && upgrades && !dateUpgradeLoader && (dateUpgrade == '' || dateUpgrade == null)" :href="`https://www.free-kassa.ru/merchant/cash.php?m=${merchant_id}&oa=${upgrades[1].cost_amount}&o=0&s=${signGenerate(upgrades[1].cost_amount)}&i=0&lang=ru&us_user_id=${user.user_id}&us_upgrade_id=${upgrades[1].user_upgrade_id}&us_time=${Math.floor(new Date() / 1000)}&us_sign=kek467`" class="action_button">Купить</a>
                        <a v-else-if="(dateUpgrade != null || dateUpgrade != '') && user" href="#errorSubscribe" role="button" data-toggle="modal" class="action_button">Купить</a>
                        <a v-else href="#login" role="button" data-toggle="modal" class="action_button">Купить</a>
                      </div>
                    </li>
                    <!-- Active/Hover styles -->
                    <li class="active">
                      <h3>1 месяц</h3>
                      <div class="price_body">
                        <div class="price">
                          <span v-if="upgrades" class="price_figure">{{ upgrades[0].cost_amount }}</span>
                          <span v-else  class="price_figure">ERROR</span>
                          <span class="price_term">рублей</span>
                        </div>
                      </div>
                      <div class="features">
                        <ul>
                          <li>1 месяц пользования читом</li>
                          <li>Доступ к приватным разделам форума</li>
                          <li>Техническая поддержка</li>
                        </ul>
                      </div>
                      <div class="footer">
                        <a v-if="user && upgrades && !dateUpgradeLoader && (dateUpgrade == '' || dateUpgrade == null)" :href="`https://www.free-kassa.ru/merchant/cash.php?m=${merchant_id}&oa=${upgrades[0].cost_amount}&o=0&s=${signGenerate(upgrades[0].cost_amount)}&i=0&lang=ru&us_user_id=${user.user_id}&us_upgrade_id=${upgrades[0].user_upgrade_id}&us_time=${Math.floor(new Date() / 1000)}&us_sign=kek467`" class="action_button">Купить</a>
                        <a v-else-if="(dateUpgrade != null || dateUpgrade != '') && user" href="#errorSubscribe" role="button" data-toggle="modal" class="action_button">Купить</a>
                        <a v-else href="#login" role="button" data-toggle="modal" class="action_button">Купить</a>
                      </div>
                    </li>
                    <li>
                      <h3>Навсегда</h3>
                      <div class="price_body">
                        <div class="price">
                          <span v-if="upgrades" class="price_figure">{{ upgrades[2].cost_amount }}</span>
                          <span v-else  class="price_figure">ERROR</span>
                          <span class="price_term">рублей</span>
                        </div>
                      </div>
                      <div class="features">
                        <ul>
                          <li>Вы получаете доступ к читу навсегда</li>
                          <li>Доступ к приватным разделам форума</li>
                          <li>Техническая поддержка</li>
                        </ul>
                      </div>
                      <div class="footer">
                        <a v-if="user && upgrades && !dateUpgradeLoader && (dateUpgrade == '' || dateUpgrade == null)" :href="`https://www.free-kassa.ru/merchant/cash.php?m=${merchant_id}&oa=${upgrades[2].cost_amount}&o=0&s=${signGenerate(upgrades[2].cost_amount)}&i=0&lang=ru&us_user_id=${user.user_id}&us_upgrade_id=${upgrades[2].user_upgrade_id}&us_time=${Math.floor(new Date() / 1000)}&us_sign=kek467`" class="action_button">Купить</a>
                        <a v-else-if="(dateUpgrade != null || dateUpgrade != '') && user" href="#errorSubscribe" role="button" data-toggle="modal" class="action_button">Купить</a>
                        <a v-else href="#login" role="button" data-toggle="modal" class="action_button">Купить</a>
                      </div>
                    </li>

                    <div class="clr"></div>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /#wrap -->
          </div>
          <!-- /.container -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import cSwitch from '../components/Switch'
  export default {
    name: 'dashboard',
    components: {
      cSwitch
    },
    data() {
      return {
        preloaderTogle: true,
        authLoader: false,
        getUserLoader: false,
        registerLoader: false,
        user: JSON.parse(localStorage.getItem('user')),
        avatar: '../../static/pic/avatar.png',
        style: localStorage.getItem('style'),
        token: localStorage.getItem('token'),
        api: 'https://nameless-basin-20755.herokuapp.com/https://uhf.su/XenoHack/api_site.php',
        apiToken: '',
        upgrades: JSON.parse(localStorage.getItem('upgrades')),
        username: '',
        password: '',
        rememberme: false,
        usernamereg: '',
        email: '',
        password1: '',
        password2: '',
        merchant_id: '',
        secret_word: '',
        dateUpgrade: '',
        dateUpgradeLoader: true // fDfjE4Lml
      }
    },
    methods: {
      login(reg) {
        if (reg===true) {
          this.username = this.usernamereg
          this.password = this.password1
        }
        if (this.username == '' || this.password == '') return false
        this.authLoader = true
        this.$http.post(`${this.api}?action=authenticate&username=${this.username}&password=${this.password}`, {
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
          }
        }).then(response => {
          if (response.body.hash) {
            localStorage.setItem('token',response.body.hash)
            this.token = response.body.hash
            this.getUser()
            this.authLoader = false
            $('.modal').modal('hide')
          } else {
            Snackbar.show({text: 'Неверный логин или пароль!', duration: 3000, showAction: false, pos: 'bottom-center'})
            this.authLoader = false
          }
        }, response => {
          Snackbar.show({text: 'Ошибка на сервере, попробуйте позже!', duration: 3000, showAction: false, pos: 'bottom-center'})
          this.authLoader = false
        })
      },
      signGenerate (a) {
        return md5(this.merchant_id+':'+a+':'+this.secret_word+':0');
      },
      getUser () {
        this.getUserLoader = true
        this.$http.post(`${this.api}?action=getUserS&value=${this.username}`, {
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
          }
        }).then(response => {
          localStorage.setItem('user',JSON.stringify(response.body))
          this.user = response.body
          this.getUserLoader = false
          this.getAvatar()
          this.getStyleGroup()
          this.getDateUpgrade()
          Snackbar.show({text: `Добро пожаловать, ${this.username}`, duration: 3000, showAction: false, pos: 'bottom-center'})
        }, response => {
          Snackbar.show({text: 'Ошибка на сервере, попробуйте позже!', duration: 3000, showAction: false, pos: 'bottom-center'})
          this.getUserLoader = false
        })
      },
      getAvatar () {
        this.$http.post(`${this.api}?action=getAvatar&value=${this.username}&hash=${this.token}&size=l`, {
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
          }
        }).then(response => {
          if (response.body.avatar) {
            localStorage.setItem('avatar',response.body.avatar)
            this.avatar = response.body.avatar
          }
        }, response => {

        })
      },
      getDateUpgrade () {
        if (!this.user || !this.token) return false
        this.dateUpgradeLoader = true
        this.$http.post(`${this.api}?action=getDateUpgrade&value=${this.user.user_id}&hash=${this.token}`, {
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
          }
        }).then(response => {
          this.dateUpgrade = response.body
          this.dateUpgradeLoader = false
        }, response => {
          this.dateUpgradeLoader = false
        })
      },
      getStyleGroup () {
        this.$http.post(`${this.api}?action=getGroup&value=${this.user.display_style_group_id}&hash=${this.token}`, {
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
          }
        }).then(response => {
          this.style = response.body.username_css
          localStorage.setItem('style',response.body.username_css)
          localStorage.setItem('sttt',response.body)
        }, response => {

        })
      },
      getUpgrade () {
        this.$http.post(`${this.api}?action=getUpgrade`, {
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
          }
        }).then(response => {
          this.upgrades = response.body
          localStorage.setItem('upgrades',JSON.stringify(response.body))

        }, response => {

        })
      },
      register () {
        if (this.password1 == '' || this.password2 == '' || this.usernamereg == '' || this.email == '')
        if (this.password1 != this.password2) return Snackbar.show({text: `Пароли не совпадают!`, duration: 3000, showAction: false, pos: 'top-center'})
        this.registerLoader = true
        this.$http.post(`${this.api}?action=register&username=${this.usernamereg}&password=${this.password1}&email=${this.email}`, {
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json'
          }
        }).then(response => {
          this.registerLoader = false
          if (response.body.error) {
            switch (response.body.user_error_id) {
              case 40:
                return Snackbar.show({text: `Имя пользователя уже занято, придумайте другое!`, duration: 3000, showAction: false, pos: 'top-center'})
              case 32:
                return Snackbar.show({text: `Имя пользователя слишком короткое`, duration: 3000, showAction: false, pos: 'top-center'})
              case 33:
                return Snackbar.show({text: `Имя пользователя слишком длинное`, duration: 3000, showAction: false, pos: 'top-center'})
              case 36:
                return Snackbar.show({text: `Имя пользователя содержит запрещенные слова`, duration: 3000, showAction: false, pos: 'top-center'})
              case 42:
                return Snackbar.show({text: `Адрес электронной почты уже используется`, duration: 3000, showAction: false, pos: 'top-center'})
              case 43:
                return Snackbar.show({text: `Адрес электронной почты заблокирован Администратором`, duration: 3000, showAction: false, pos: 'top-center'})

              default:
                return Snackbar.show({text: response.body.user_error_phrase, duration: 3000, showAction: false, pos: 'top-center'})
            }
          }
          this.login(true)
          Snackbar.show({text: `Добро пожаловать, ${this.usernamereg}`, duration: 3000, showAction: false, pos: 'top-center'})
        }, response => {
          this.registerLoader = false
          return Snackbar.show({text: 'Ошибка сервера', duration: 3000, showAction: false, pos: 'top-center'})
        })
      },
      wait () {
        Snackbar.show({text: 'Этот раздела сайта еще в разработке. Ждать осталось совсем недолго!', duration: 3000, showAction: false, pos: 'top-center'})
      },
      logout () {
        localStorage.clear()
        this.user = '',
        this.avatar = '',
        this.token = '',
        this.username = '',
        this.password = '',
        this.style = ''
      },
      preloader () {
        var self = this
        setTimeout( function() {
          self.preloaderTogle = false
        }, 1500)
      }
    },
    created() {
      this.getDateUpgrade()
      this.preloader()
      VK.Widgets.Group("vk_groups", {
        mode: 3,
        width: "300"
      }, 109823946)
      VK.Widgets.Post("vk_post_-109823946_3081", -109823946, 3081, 'kYkjmO0xpCiFI_F3FbqZdkixHOL1')
      $(function () {
        $('.frame_youtube').height($('.frame_youtube').width() / 1.7)

        $(window).resize(function () {
          $('.frame_youtube').height($('.frame_youtube').width() / 1.7)
        })
      })
      $(function () {
        var el = $('#nav_list_second > li > a')
        $('#nav_list_second li:has("ul")').append('<span></span>')
        el.click(function() {
          var checkedElement = $(this).next()
          var visibleElement = $('#nav_list_second ul:visible')

          visibleElement.stop().animate({'height':'toggle'}, 500).parent().removeClass('active')
          if((checkedElement.is('ul')) && (!checkedElement.is(':visible'))) {
            checkedElement.stop().animate({'height':'toggle'}, 500).parent().addClass('active')
            return false
          }
          if((checkedElement.is('ul')) && (checkedElement.is(':visible'))) {
            return false
          }
        })
      })

      if (localStorage.getItem('avatar')) {
        this.avatar = localStorage.getItem('avatar')
      }
      this.getUpgrade()
    }
  }
</script>

<style scoped>
.pricing_table {
		color: #fff;
		font-size: 12px;
		font-family: Ubuntu, arial, verdana;
		line-height: 150%;
		text-align: center;
		margin: 100px auto 0 auto;
		max-width: 750px;
	}


	/*Only the direct LI child, not the .features li*/

	.pricing_table>li {
		background: linear-gradient(#666, #333);
		width: 33.33%;
		float: left;
		list-style-type: none;
		/*For smooth hover effects if .active is replaced by :hover*/
		transition: all 0.2s;
	}

	.pricing_table>li.active {
		background: linear-gradient(#72beff, #245cdb);
		transform: scale(1.03);
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
	}

	.pricing_table h3 {
		text-transform: uppercase;
		padding: 15px 0;
		font-size: 14px;
		font-weight: bold;
	}

	.pricing_table .price_body {
		width: 125px;
		height: 125px;
		margin: 0 auto 15px auto;
		border: 2px solid #0daad8;
		border-radius: 100%;
		display: table;
	}

	.pricing_table .price {
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
		/*Lets vertically center align the price now*/
		vertical-align: middle;
		display: table-cell;
	}

	.pricing_table .price .price_figure {
		display: block;
	}

	.pricing_table .price .price_term {
		font-size: 11px;
		font-weight: normal;
	}

	.pricing_table .features li {
		list-style-type: none;
		padding: 5px 0;
	}

  .pricing_table .features ul {
		margin-left: 0
	}

	.pricing_table .footer {
		padding: 10px;
		background: #333;
		margin-top: 10px;
	}

	.pricing_table .footer .action_button {
		color: #fff;
		font-size: 11px;
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		background: #000;
		padding: 4px 20px;
		border-radius: 15px;
		background: linear-gradient(#666, #333);
	}

	.pricing_table li.active .footer .action_button {
		background: linear-gradient(#4aa8f9, #2487db);
	}

	.clr {
		clear: both;
	}

	.pricing_table .active .price_body {
		width: 125px;
		height: 125px;
		margin: 0 auto 15px auto;
		border: 2px solid #fff;
		border-radius: 100%;
		display: table;
	}
	#market_soon {
		color:white;
	}

  .modal-body .form-control {
    background: rgba(0, 0, 0, 0.48);
  }
</style>
