<template>
  <footer class="app-footer">
    <a href="http://mrdenzzz.ru" target="_blank">MrDenzzz</a> &copy; 2017 ANTIHYPE
    <span class="float-right">Govno Zhopa</span>
  </footer>
</template>
<script>
export default {
  name: 'footer'
}
</script>
