<template>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" id='menu'>
          <li data-menuanchor="hakeme" class="active"><a href="#hakeme">xenohack</a></li>
          <li data-menuanchor="function"><a href="#function">Функции</a></li>
          <li data-menuanchor="gallery"><a href="#gallery">Галерея</a></li>
          <li data-menuanchor="garant"><a href="#garant">Гарантии</a></li>
          <li data-menuanchor="market"><a href="#market">Покупка</a></li>
          <li class="dropdown b_login" v-if="token">
            <a href="#" class="dropdown-toggle aavatar" data-toggle="dropdown">
              <div class="username">
                {{ user.username }}
              </div>
              <img :src="user.avatar" class="avatar">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-black" role="menu">
              <li><a href="account">Личный кабинет</a></li>
						  <li class="divider"></li>
              <li>
                <form class="ajax" method="" action="">
                  <input type="hidden" name="act" value="logout">
                  <button class="button" type="submit">Выйти</button>
							  </form>
              </li>
            </ul>
          </li>
          <li v-else class="b_login"><a href="#login" role="button" data-toggle="modal" data-target="#login">Вход</a></li>
          <div id="login" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h2 class="text-center loginm">Вход</h2>
                </div>
                <div class="modal-body">
                  <form class="form col-md-12 center-block ajax" method="post" action="./ajax.php">
                    <div class="main-error alert alert-error hide"></div>
                    <div class="form-group">
                      <input name="username" type="text" class="form-control input-lg" placeholder="Имя пользователя" autofocus>
                    </div>
                    <div class="form-group">
                      <input name="password" type="password" class="form-control input-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label class="checkbox">
                        <input style="margin-left: 0px; margin-bottom: 15px;" name="remember-me" type="checkbox" value="remember-me" checked>
                        <span class="remember">Запомнить меня</span>
                        <span class="pull-right"><a href="#registration" role="button" data-toggle="modal">Регистрация</a></span>
                      </label>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="act" value="login">
                      <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="registration" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h2 class="text-center loginm">Регистрация</h2>
                </div>
                <div class="modal-body">
                  <form class="form col-md-12 center-block ajax" method="post" action="./ajax.php">
                    <div class="form-group">
                      <input class="form-control input-lg" type="text" name="username" placeholder="Имя пользователя">
                    </div>
                    <div class="form-group">
                      <input class="form-control input-lg" type="email" name="email" placeholder="Почтовый адрес">
                    </div>
                    <div class="form-group">
                      <input class="form-control input-lg" type="password" name="password1" placeholder="Пароль">
                    </div>
                    <div class="form-group">
                      <input class="form-control input-lg" type="password" name="password2" placeholder="Подтверждение">
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="act" value="register">
                      <button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
                      <span class="" style="margin-top:10px;color:#ccc;">Уже есть аккаунт? <a role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true" style="cursor:pointer;">Вход</a></span>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'header',
  data() {
    return {
      token: ''
    }
  },
  methods: {
    sidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-hidden')
    },
    sidebarMinimize (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-minimized')
    },
    mobileSidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-mobile-show')
    },
    asideToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('aside-menu-hidden')
    }
  }
}
</script>
